@using Client.Components
@using Client.Features
@using Client.Shared
@using Client.Layouts
@using Microsoft.AspNetCore.Components.Authorization
@rendermode RenderMode.InteractiveAuto
@inject NavigationManager NavigationManager
<head>
    <RadzenTheme Theme="material"></RadzenTheme>
</head>
<CascadingAuthenticationState>
    <RefitErrorBoundary>
        <ChildContent>
            <Router AppAssembly="@typeof(Program).Assembly">
                <Found Context="routeData">
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                        <Authorizing>
                            <p>Авторизация...</p>
                        </Authorizing>
                        <NotAuthorized>
                            @{
                                //var returnUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
                                <RedirectToLogin ReturnUrl=@NavigationManager.GetCurrentPath()/>
                            }
                        </NotAuthorized>
                    </AuthorizeRouteView>
                </Found>
                <NotFound>
                    <PageTitle>Не найдено</PageTitle>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p role="alert">По данному адресу ничего не найдено</p>
                    </LayoutView>
                </NotFound>
            </Router>
        </ChildContent>
        @* <ErrorContent Context="exception">Исключение: @exception.Message</ErrorContent> *@
    </RefitErrorBoundary>
</CascadingAuthenticationState>