@typeparam T

<div class="multiple-selector">
    <ul class="selectable">
        @foreach (var item in NoSelected)
        {
            <li @onclick=@(() => Select(item))>@item</li>
        }
    </ul>

    <div class="multiple-selector-buttons">
        <button type="button" @onclick="@SelectAll">@addAllText</button>
        <button type="button" @onclick="@DeselectAll">@removeAllText</button>
    </div>

    <ul class="selectable">
        @foreach (var item in Selected)
        {
            <li @onclick=@(() => Deselect(item))>@item</li>
        }
    </ul>
</div>

@code {
    private const string addAllText = ">>";
    private const string removeAllText = "<<";
    [Parameter] public List<T> NoSelected { get; set; } = new();
    [Parameter] public List<T> Selected { get; set; } = new();

    private void Select(T item)
    {
        NoSelected.Remove(item);
        Selected.Add(item);
    }

    private void Deselect(T item)
    {
        Selected.Remove(item);
        NoSelected.Add(item);
    }

    private void SelectAll()
    {
        Selected.AddRange(NoSelected);
        NoSelected.Clear();
    }

    private void DeselectAll()
    {
        NoSelected.AddRange(Selected);
        Selected.Clear();
    }

}