@using Client.Shared.Select
@using Microsoft.AspNetCore.Authorization
@using AgreementType = Model.Agreements.AgreementType
@using AgreementStatus = Model.Agreements.Status
@attribute [Authorize(Roles = "Cip")]
@page "/agreements"
@inherits Client.Shared.List.SearchableStyledList<Model.Agreements.AgreementShort>

@{
    base.BuildRenderTree(__builder);
}

@code {

    protected override RenderFragment Filters => @<div>
                                                     <RadzenRow>
                                                         <RadzenColumn ChildContent=@TypeFilter/>
                                                         <RadzenColumn ChildContent=@StatusFilter/>
                                                     </RadzenRow>
                                                     <RadzenRow>
                                                         <RadzenColumn ChildContent=@StartFilter/>
                                                         <RadzenColumn ChildContent=@EndFilter/>
                                                     </RadzenRow>
                                                 </div>;
        @* @<RadzenStack Orientation="@Orientation.Horizontal"> *@
        @*                                              @TypeFilter *@
        @*                                              @StatusFilter *@
        @*                                              @BeginFilter *@
        @*                                          </RadzenStack>; *@

    private RenderFragment TypeFilter => @<UniversalCustomSelect
                                              Placeholder="Тип соглашения"
                                              TItem="@AgreementType"
                                              @bind-Value="@agreementType"/>;

    private RenderFragment StatusFilter => @<UniversalCustomSelect
                                                TItem="@AgreementStatus"
                                                Placeholder="Статус соглашения"
                                               @bind-Value="@agreementStatus"/>;

    private RenderFragment StartFilter => @<RadzenDatePicker
                                               TValue="DateTime?"
                                               @bind-Value=@startDate
                                               Max=@endDate
                                               ShowTime="false"
                                               Placeholder="Дата начала соглашения"/>;
    private RenderFragment EndFilter => @<RadzenDatePicker
                                             TValue="DateTime?"
                                             @bind-Value=@endDate
                                             Min=@startDate
                                             ShowTime="false"
                                             Placeholder="Дата окончания соглашения"/>;
}